/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/installed
/storage/dotenv-editor
/.env.testing
/public/css
/public/js
/session/*
public/mix-manifest.json